@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(213, 223, 223);
    margin-left: 25vw;
    margin-right: 25vw;
    text-align: justify;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgba(151, 218, 195, 0.212);
}

.saida {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}